<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roar_simulated_rover">

  <xacro:arg name="use_gazebo" default="true" />
  <xacro:arg name="use_hardware" default="false" />

  <xacro:include filename="$(find roar_rover_clean)/urdf/base/rover.xacro" />
  <xacro:include filename="$(find roar_rover_clean)/urdf/modules/sensors.xacro" />
  <xacro:include filename="$(find roar_rover_clean)/urdf/arm/sex_dof_arm.xacro" />
  <!-- Use the clean Gazebo plugins/macros instead of the original noisy ones -->
  <xacro:include filename="$(find roar_rover_clean)/urdf/modules/rover_gazebo_clean.xacro" />

  <xacro:rover_base />
  <xacro:robotic_arm prefix="arm_" parent_link="arm_mount_point">
    <origin xyz="0.0 0 0" rpy="0 0 0"/>
  </xacro:robotic_arm>

  <xacro:depth_camera name="zed2i" parent_link="base_link">
    <!-- Rover forward is +Y, so we yaw 90 deg (pi/2) to make camera +X point forward -->
    <origin xyz="0.0 0.35 0.25" rpy="0 0 1.5707963267949" />
  </xacro:depth_camera>
  <xacro:depth_camera_gazebo name="zed2i" />

  <xacro:bno055_imu name="bno055" parent_link="base_link">
     <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </xacro:bno055_imu>
  <xacro:bno055_imu_gazebo name="bno055" />

  <xacro:rover_gazebo controllers_yaml="$(find roar_rover_clean)/config/diff_controller.yaml"/>
               
</robot>
