<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="rover_gazebo" params="controllers_yaml">
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>${controllers_yaml}</parameters>
      </plugin>

      <plugin
        filename="ignition-gazebo-diff-drive-system"
        name="ignition::gazebo::systems::DiffDrive">
        <left_joint>wheel_lhs_front_joint</left_joint>
        <left_joint>wheel_lhs_mid_joint</left_joint>
        <left_joint>wheel_lhs_rear_joint</left_joint>
        <right_joint>wheel_rhs_front_joint</right_joint>
        <right_joint>wheel_rhs_mid_joint</right_joint>
        <right_joint>wheel_rhs_rear_joint</right_joint>
        <wheel_separation>0.61</wheel_separation>
        <wheel_radius>0.1</wheel_radius>
        <odom_publish_frequency>50</odom_publish_frequency>
        <topic>cmd_vel</topic>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="depth_camera_gazebo" params="name">
    <gazebo reference="${name}_link">
      <sensor name="${name}_rgb" type="camera">
        <always_on>1</always_on>
        <visualize>false</visualize>
        <update_rate>15</update_rate>
        <topic>${name}/image_raw</topic>
        <camera>
          <horizontal_fov>1.91986</horizontal_fov> <image><width>1280</width><height>720</height></image>
          <clip><near>0.2</near><far>300</far></clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev> 
          </noise>
        </camera>
      </sensor>

      <sensor name="${name}_depth" type="depth_camera">
        <always_on>1</always_on>
        <visualize>false</visualize>
        <update_rate>15</update_rate>
        <topic>${name}/depth</topic>
        <camera>
          <horizontal_fov>1.91986</horizontal_fov> <image><width>1280</width><height>720</height></image>
          <clip><near>0.2</near><far>20</far></clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev> 
          </noise>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="bno055_imu_gazebo" params="name">
    <gazebo reference="${name}_link">
      <sensor name="${name}_imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>100</update_rate>
        <visualize>false</visualize>
        <topic>${name}/data</topic>
        <imu>
          <angular_velocity>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>0.001</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>0.001</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>0.001</stddev></noise></z>
          </angular_velocity>
          <linear_acceleration>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>0.01</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>0.01</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>0.01</stddev></noise></z>
          </linear_acceleration>
        </imu>
      </sensor>

      <sensor name="${name}_mag_sensor" type="magnetometer">
        <always_on>1</always_on>
        <update_rate>100</update_rate>
        <visualize>false</visualize>
        <topic>${name}/mag</topic>
        <magnetometer>
          <x><noise type="gaussian"><mean>0.0</mean><stddev>1e-06</stddev></noise></x>
          <y><noise type="gaussian"><mean>0.0</mean><stddev>1e-06</stddev></noise></y>
          <z><noise type="gaussian"><mean>0.0</mean><stddev>1e-06</stddev></noise></z>
        </magnetometer>
      </sensor>
    </gazebo>
  </xacro:macro>
  
</robot>