<?xml version="1.0"?>
<model>
  <name>roar_simulation</name>
  <version>1.0</version>
  <sdf version="1.8">urdf/base/rover_simulation.urdf.xacro</sdf>
  <author>
    <name>Developer</name>
    <email>developer@example.com</email>
  </author>
  <description>
    The ROAR Marsyard Rover model.
  </description>
</model>
